<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home and Ejs</title>
</head>
<body>
    <h3>Home Ejs</h3>
    <h2><%= 10*2 %></h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, officia! Dolore qui, aliquid, exercitationem at ad blanditiis ut totam esse doloribus voluptatum repudiandae laborum animi debitis neque doloremque vel a dolorum dolorem obcaecati, aut quia molestiae numquam eius. Magni, aspernatur! Velit nulla, exercitationem officia maiores magni magnam reiciendis placeat maxime.</p>
    <button>Get this</button>
</body>
</html>